extends layout
block title
	title #{line.name}
	//- title #{line.name}
//- block css
block content
	.control-group
		label.control-label(for="name") 路线名称
		.controls
			input#name.input-lg(type="text" name="name" value="#{line.name}")
	.control-group
		label.control-label(for="price") 价格
		.controls
			input#price.input-lg(type="text" name="price" value="#{line.price}")
	each selectedSight, index in line.sight
		.sight
			a(href="/user/sight/?name=#{selectedSight}") #{selectedSight}
	form#line.form-horizontal(method="post" action="/user/order")		
		.control-group
			label.control-label(for="former_name") 
			.controls
				input#former_name.input-lg(type="hidden" name="line" value="#{line.name}")
		.form-action
			button.btn.btn-primary(type="submit") 预定				
			//- .sight
				each sight, index in sightList
					if sight.name==selectedSight
						a(href="/user/line/?name=#{line.name}") #{line.name}
				//- select.sightList(name="sight_name" value="#{selectedSight}")

							//- option(value="#{sight.name}" selected="selected") #{sight.name}
						//- else
							//- option(value="#{sight.name}") #{sight.name}
						//- select.lineList(name="name")
				
		//- p #{ selectedSightList}
