extends layout
block title
	title 修改景点
	//- title #{line.name}
//- block css
block content
	.col-lg-3
		ul.todo.mrm
			li
				a(href="/company/add") 增加旅游线路
			li
				a(href="/company/modify") 修改旅游线路
			li
				a(href="/company/order") 查看反馈
			li
				a(href="/company/delete") 删除旅游线路
	.col-lg-9				
		form#line.form-horizontal(method="post" action="/company/modify")
			.control-group
				label.control-label(for="name") 路线名称
				.controls
					input#name.input-lg(type="text" name="name" value=line.name required)
					input#formerName.input-lg(type="hidden" name="formerName" value=line.name)
					input#company(type="hidden" name="company" value=line.company)
					//- input#name.input-lg(type="hidden" name="company" value=line.company)	
			.control-group
				label.control-label(for="address") 地点
				.controls
					input#address.input-lg(type="text" name="address" value=line.address required)
			.control-group
				label.control-label(for="startAddress" required) 起点
				.controls
					input#startAddress.input-lg(type="text" name="startAddress" value=line.startAddress)
			.control-group
				label.control-label(for="endAddress") 终点
				.controls
					input#endAddress.input-lg(type="text" name="endAddress" value=line.endAddress required)
			.control-group
				label.control-label(for="days") 旅游天数
				.controls
					input#days.input-lg(type="number" name="days" value=line.days)
			.control-group
				label.control-label(for="startTime" required) 出发时间
				.controls
					- var newDate = new Date()
					- var month = newDate.getMonth()+1
					- var day = newDate.getDate()
					if month < 10
						- month = "0"+month
					if day < 10
						- day = "0"+day	
					- var dateString = newDate.getFullYear()+"-"+month+"-"+day
					input#startTime.input-lg(type="date" name="startTime" value=line.startTime min=dateString)
			.control-group
				label.control-label(for="number") 人数限制
				.controls
					input#number.input-lg(type="number" name="number" value=line.number min="1" required)
			.control-group
				label.control-label(for="price") 价格
				.controls
					input#price.input-lg(type="number" name="price" value=line.price required)
			.control-group
				label.control-label(for="stay") 住宿信息
				.controls
					input#stay.input-lg(type="text" name="stay" value=line.stay)
			if line.sight instanceof Array			
				each selectedSight in line.sight
					.sight
						select.sightList(name="sight")
							each sight, index in sightList
								if sight.name==selectedSight
									option(value="#{sight.name}" selected="selected") #{sight.name}
								else
									option(value="#{sight.name}") #{sight.name}
						span.delete 删除景点
			else
				select.sightList(name="sight")
							option(value="#{line.sight}") #{line.sight}
				span.delete 删除景点												
			#add 增加景点						
			.form-action
				button.btn.btn-primary(type="submit") 提交路线
			
	script(src="/javascripts/add_line.js")		